.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vmax;
    
}

.logo img {
    filter: drop-shadow(0  2vmax 1.5vmax black);
    height: 6vmax;
    width: 12vmax;
}
.search-bar {
    display: flex;
    flex: 0.8; 
    margin: 2vmax;
  }
  
.search-bar input {
    width: 40vmax; 
    padding: 0.5vmax;
    font-size: 1.3vmax;
    border: 1px solid #ccc;
    border-radius: 1vmax;
    outline-color: #686868;
}

.search-bar .search-button {
    background-color: transparent;
    border: none;
    margin-left: 0.5vmax;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-bar .search-button img {
    width: 2.4vmax; 
    height: 2.4vmax;
  }

.nav .nav-list {
    list-style: none;
    display: flex;
    margin: 1vmax;
    margin: 0;
    padding: 0.5vmax;
    
}

.nav .nav-list li a {
    color: rgb(61, 61, 61);
    text-decoration: none;
    font-size: 1.3vmax;
    padding: 1.2vmax;
    font-weight:bold;
}

.nav .nav-list li a:hover {
    color: red;
}
.search-bar .search-button:hover{
    border-radius: 1vmax;
    background-color: rgb(255, 151, 151);
}