#content{
    background-color: #1b222c;
    background: linear-gradient(140deg, #ff0000, #ffffff);
    border-radius: 3vmax;
    margin: 4vmax;
    box-shadow: 0vmax 0vmax 3vmax 0vmax rgb(255, 0, 0);
}