#ex{
  text-align: center;
  color: aqua;
  background-color: black;
  background-image: linear-gradient(to bottom right,black,white);
  border-radius: 2vmax;
  margin: 2vmax;
  padding: 2vmax;
}
#ex button{
  margin: 1vmax;
  border-radius: 2vmax;
}