/* #ex{
  text-align: center;
  color: aqua;
  background-color: #1b222c;
  padding: 1.5vmax;
} */
#content{
  margin: 3vmax;
  background-color:#12151c;
  border-radius: 1vmax;
  padding: 1vmax;
}
@media (max-width: 768px) {
  .header {
      flex-direction: column;
  }
}
